main > div {
    padding: 30px;
    background-color: #0000003b;
    border-radius: 9%;
}

form label {
    color: white;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form > div {
    height: 50px;
}